<mat-card *ngIf="_package && _establishment" class="card">
  <mat-card-header class="card__header">
    <mat-card-title-group class="card__titles">
      <mat-card-title class="card__title">
        {{ _package.name }} <mat-icon class="card__premiumIcon">star</mat-icon>
      </mat-card-title>
      <mat-card-subtitle class="card__subtitle">
        {{ _establishment.name }}
      </mat-card-subtitle>
      <p class="card__address">{{ _establishment.city }}</p>
    </mat-card-title-group>
    <div class="card__price">
      <p
        [class]="_package.discount > 0 ? 'card__price--discount' : 'card_price'"
      >
        {{ _package.price | currency : "CAD" }}
      </p>
      <p *ngIf="_package.discount > 0" class="card__price">
        {{ getDiscount(_package.price, _package.discount) | currency : "CAD" }}
      </p>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p>
      Date de départ:
      {{ _package.start_date | date : "longDate" }}
    </p>
    <p>
      Date de départ:
      {{ _package.end_date | date : "longDate" }}
    </p>
    <p class="card__score">
      <mat-icon
        *ngFor="let start of [].constructor(getAverageScore(_package.reviews))"
        class="card__starReview"
      >
        star
      </mat-icon>
      <span
        >({{ getAverageScore(_package.reviews) }}
        {{
          getAverageScore(_package.reviews) === 1 ? "étoile" : "étoiles"
        }})</span
      >
    </p>
  </mat-card-content>

  <mat-card-footer>
    <mat-card-actions>
      <a
        mat-button
        [routerLink]="['/package', _package._id]"
        class="card__button"
        >Détails</a
      >
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
