<mat-card *ngIf="_package && _establishment" class="card">
  <mat-card-header class="card__header">
    <mat-card-title-group class="card__titles">
      <mat-card-title class="card__title">
        {{ _package.name }}
        <mat-icon *ngIf="_package.premium" class="card__premiumIcon"
          >star</mat-icon
        >
      </mat-card-title>
      <mat-card-subtitle class="card__subtitle">
        {{ _establishment.name }}
      </mat-card-subtitle>
      <p class="card__address">{{ _establishment.city }}</p>
    </mat-card-title-group>
    <app-price-display
      [price]="_package.price"
      [discount]="_package.discount"
    ></app-price-display>
  </mat-card-header>
  <mat-card-content>
    <p>
      Date de départ:
      {{ _package.start_date | date : "longDate" }}
    </p>
    <p>
      Date de départ:
      {{ _package.end_date | date : "longDate" }}
    </p>
    <app-average-score
      *ngIf="_package.reviews.length > 0"
      [reviews]="_package.reviews"
    ></app-average-score>
    <p *ngIf="_package.reviews.length === 0">Pas de note</p>
  </mat-card-content>

  <mat-card-footer>
    <mat-card-actions>
      <app-button-as-link
        *ngIf="_package._id"
        [link]="['/package', _package._id]"
        label="Détails"
      ></app-button-as-link>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
