<mat-toolbar class="navbar">
  <div class="container navbar__flex">
    <h1 class="navbar__main_title">
      <a routerLink="/home">La forfaiterie</a>
    </h1>
    <div class="navbar__buttonGroup">
      <app-button-as-link
        [label]="'Forfaits à rabais'"
        [link]="'/discount'"
      ></app-button-as-link>
      <button mat-button [matMenuTriggerFor]="menu">Forfaits</button>
      <mat-menu #menu="matMenu">
        <a
          *ngFor="let _package of _packages"
          mat-menu-item
          [routerLink]="['/package', _package._id]"
        >
          {{ _package.name }}
        </a>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
