<main class="about container">
  <h2 class="title">À propos</h2>
  <ul>
    <li>test@example.com</li>
    <li>123-456-2587</li>
    <li>Facebook</li>
    <li>Instagram</li>
  </ul>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda illum
    voluptas incidunt impedit labore officia consectetur cumque vero neque!
    Voluptatum, odit molestiae repellendus obcaecati ullam quis alias impedit?
    Ad, voluptatibus! Aliquam inventore facere vel dolore magnam praesentium
    provident at nulla architecto culpa, repudiandae accusantium cumque minima
    quo, aspernatur, ea exercitationem explicabo reiciendis. Accusantium dolorum
    velit dolor praesentium sint doloremque optio nisi, omnis veniam possimus!
    Iste ipsum repudiandae alias! Reprehenderit qui amet debitis ullam ut et
    repellendus delectus, vel quaerat neque quos maiores consectetur voluptatem
    suscipit inventore. Itaque cupiditate unde alias, dolorum ut debitis quod
    modi excepturi repellendus ratione dignissimos quis perspiciatis iure!
    Corrupti dolore, deleniti tempore assumenda similique accusantium.
    Recusandae odio assumenda, eaque iste sequi reiciendis doloribus nam
    voluptatem accusamus nemo cum obcaecati molestiae quasi vero illo earum ex
    totam modi. Aspernatur nobis iusto quibusdam voluptatum unde consequatur ex
    enim dicta et impedit natus, illum eveniet aperiam, delectus assumenda quas
    tenetur, veniam laboriosam harum minus sit distinctio. Sapiente, sequi
    voluptatem facilis in quis aliquam quaerat quae totam possimus
    necessitatibus animi nemo, ipsam tenetur fugiat! Ad fuga laborum
    necessitatibus provident quas eos facilis sequi praesentium cumque
    consequuntur. Veritatis a harum itaque quam quas voluptate, eveniet maiores,
    beatae quis dolor, similique nihil?
  </p>
</main>
